.counter_todos {
    text-align: center;
    font-size: 22px;
    font-family: 'Chela One', cursive;
}

.counter_todos p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.counter_todos img {
    width: 50px;
}

.counter_todos span {
    position: relative;
    top: -10px;
    padding: 5px;
    font-size: 50px;
    color: rgb(190, 190, 140);
}